@import "~bootstrap/scss/bootstrap.scss";

// styling

body {
  background-color: #13a865;
  box-sizing: border-box;
}

.button {
  position: relative;
  margin-left: 46%;
  margin-top: 12%;
  padding: 0, 0, 0, 0;
}

.footer {
  position: relative;
  padding: 0, 0, 0, 0;
  margin-top: 12%;
}

.footer-text {
  color: white;
}

a:link {
  color: black;
}
a:visited {
  color: red;
}
.card {
  background: white;
  box-shadow: 2px 5px 10px black;
  transform: translate(-25%, 35%);
  position: relative;
  margin-left: 46%;
  top: 50%;
  height: 300px;
  width: 200px;
  padding: 20px;
  padding-top: 80px;
  border: 0.5px solid black;
  border-radius: 10px;
  text-align: center;
  font-size: 80px;
  align-items: center;
  &:before {
    position: absolute;
    padding-left: 5px;
    top: 0px;
    left: 10px;
    font-size: 60px;
  }
  &:after {
    position: absolute;
    padding-left: 5px;
    bottom: 0px;
    right: 10px;
    font-size: 60px;
  }
  &.spade:before,
  &.spade:after {
    content: "\2660";
  }
  &.club:before,
  &.club:after {
    content: "\2663";
  }
  &.heart:before,
  &.heart:after {
    content: "\2665";
    color: red;
  }
  &.diamond:before,
  &.diamond:after {
    content: "\2666";
    color: red;
  }
}
